seamless.code-workspace
.vscode/
*.pyc
**/build/*.1
*.egg-info/
*.*~
*/.snakemake/
*/__pycache__/
*/.ipynb_checkpoints/
*/*-BAK*/
tests/workflow/*.json
tests/workflow/data/*
tests/workflow/context2-graph-raw.txt
tests/workflow/debugmount/*
tests/workflow/webserver-nested/graph
tests/workflow/webserver-nested/vault
tests/workflow/webserver-nested/web
tests/workflow/webserver-nested/.gitignore
tests/workflow/webserver-nested/*.ipynb
tests/workflow/webserver-nested/load-project.py
tests/cmd/*.job-*
examples/wikipedia/buffers/c953f648215413c5c7a3ae179a57d74e5ca495290a8e5a06a474baa158178d15
examples/wikipedia/BAK