seamless.code-workspace
.vscode/
*.pyc
build/
dist/
*.egg-info/
*.*~
*/.snakemake/
*/__pycache__/
*/.ipynb_checkpoints/
tests/highlevel/*.json
tests/highlevel/context2-graph-raw.txt
tests/highlevel/debugmount/*
