[MASTER]

jobs=8
# Pickle collected data for later comparisons.
persistent=yes

[MESSAGES CONTROL]

disable=import-error,import-outside-toplevel,wrong-import-position,
  wildcard-import,unused-wildcard-import,
  protected-access,invalid-name,broad-except,unspecified-encoding,
  unnecessary-lambda-assignment,global-statement,
  use-implicit-booleaness-not-len,
  consider-using-f-string,too-many-branches,too-many-arguments,
  no-member  #necessary, since ignored-classes is not quite working

[TYPECHECK]
ignored-classes=seamless.highlevel.Base.Base,seamless.highlevel.Context.Context,seamless.highlevel.Cell.Cell,seamless.highlevel.Transformer.Transformer