numpy
cson
ruamel.yaml
jsonschema==3.*
websockets
requests
aiohttp
aiohttp_cors
wurlitzer
cffi
IPython==7.*
tornado>=6.*
ipykernel>=5.*
nbconvert>=5.5
pyzmq>=18
nest_asyncio>=1
pandas==0.24
traitlets

