numpy
requests
cffi
traitlets
biopython
nglview
snakemake==5.5
cson==0.8
ruamel.yaml==0.16
ruamel.yaml.clib==0.2
speg==0.3
jsonschema==3.*
websockets==8.1
aiohttp==3.6
aiohttp_cors==0.7
async_timeout==3.0
multidict==4.7
wurlitzer==2.0
yarl==1.4
redis==3.3
pandas==0.24
IPython>=7.11
notebook>=5.7.5
tornado>=6.*
ipykernel>=5.*
nbconvert>=5.5
pyzmq>=18
jedi==0.15.2
parso==0.5.2