{
    "directory": {
        "collection": "testfolder2"        
        "path": "/tmp/PIN-FILESYSTEM-FOLDER2" 
        "cross_device": false
    }
    actions: [
        {
            "action": "intern_collection"
            "hardlink": true
        }
        {
            "action": "deepfolder"
        }
    ]
}