<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
</head>

<body>
    <div id="app">
        <v-app id="vuetify-app">
{{COMPONENTS}}
        </v-app>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.js'></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script type="text/javascript" src="./seamless-client.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>
