<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Seamless webform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
    
</head>

<body>
    <script type="text/javascript" src="https://cdn.rawgit.com/arose/ngl/v2.0.0-dev.32/dist/ngl.js"></script>
    <div id="app">
        <v-app id="vuetify-app">
<section>
    <p class="content"><b>Selected PDB code:</b> {{ pdb_code.value }}</p>
    <b-field label="PDB selector">
        <b-autocomplete
            rounded
            keep-first
            v-model="bigselect_1_input.value"
            :data="bigselect_1_input.value ? all_pdb_codes.value.filter(option => option.toString().toLowerCase().indexOf(bigselect_1_input.value.toString().toLowerCase()) == 0) : []"
            placeholder="Select a PDB code"
            icon="magnify"
            clearable
            @select="option => {if (option) { pdb_code.value = option; bigselect_1_input.value = option } }">
            <template #empty>No results found</template>
        </b-autocomplete>
    </b-field>
</section>
                <section>
                <p class="card-header-title"></p>
                PDB viewer
                </p>
                <div id="nglviewer_1" style="width:40%; height:400px;"></div>
                </section>
                <!--
                <section>

                <b-collapse class="card" animation="slide" aria-id="">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="">
                        <p class="card-header-title">
                            Representation
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content" style="overflow: auto; height: 401px;">
                            <pre>{{ representation2.value }}</pre>
                        </div>
                    </div>
                </b-collapse>
                
            </section>
            <section v-for="(value, mol) in pdb_structure.value">
                <b-collapse class="card" animation="slide" aria-id="">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="">
                        <p class="card-header-title">
                            {{ mol }}
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content" style="overflow: auto; height: 400px;">
                            <pre>{{ value }}</pre>
                        </div>
                    </div>
                </b-collapse>
            </section>
            -->
            <b-field label="Molecular representation">
                <b-input
                    lazy
                    type="textarea"
                    maxlength="1000"
                    v-bind:value="representation.value"
                    v-model="representation.value"
                    :editable="false"
                />
            </b-field>

        </v-app>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.js'></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script type="text/javascript" src="./seamless-client.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>
