[
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 1",
    "mode": "markers",
    "marker": {
      "color": "green",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "green",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 2",
    "mode": "markers",
    "marker": {
      "color": "blue",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "blue",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 3",
    "mode": "markers",
    "marker": {
      "color": "cyan",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "cyan",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 4",
    "mode": "markers",
    "marker": {
      "color": "red",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "red",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 5",
    "mode": "markers",
    "marker": {
      "color": "pink",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "pink",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 6",
    "mode": "markers",
    "marker": {
      "color": "magenta",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "magenta",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 7",
    "mode": "markers",
    "marker": {
      "color": "black",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "black",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 8",
    "mode": "markers",
    "marker": {
      "color": "grey",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "grey",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 9",
    "mode": "markers",
    "marker": {
      "color": "sandybrown",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "sandybrown",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 10",
    "mode": "markers",
    "marker": {
      "color": "plum",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "plum",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 11",
    "mode": "markers",
    "marker": {
      "color": "turquoise",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "turquoise",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 12",
    "mode": "markers",
    "marker": {
      "color": "olivedrab",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "olivedrab",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 13",
    "mode": "markers",
    "marker": {
      "color": "lightsteelblue",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "lightsteelblue",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  },
  {
    "textfont": {
      "size": 50
    },
    "name": "Cluster 14",
    "mode": "markers",
    "marker": {
      "color": "orchid",
      "size": 7
    },
    "type": "scatter"
  },
  {
    "showlegend": false,
    "marker": {
      "color": "orchid",
      "size": 15,
      "symbol": "triangle-up"
    },
    "mode": "markers"
  }
]
