[
  {
    name: 'Cluster 1'
    type: 'scatter',
    mode: 'markers'
  	marker: {
      color: 'blue',
      size: 7
  	}
    textfont: {
      size: 50
    }
  }
  {
    showlegend: false
    mode: 'markers'
  	marker: {
      color: 'blue',
      symbol: 'triangle-up'
      size: 15
  	}
  }
  {
    name: 'Cluster 2'
    type: 'scatter',
    mode: 'markers'
  	marker: {
      color: 'red',
      size: 7
  	}
  }
  {
    showlegend: false
    mode: 'markers'
  	marker: {
      color: 'red',
      symbol: 'triangle-up'
      size: 15
  	}
  }

]
