[
  {
    "x": [0.5, 1.7, 2.2]
    "y": [-35, -28, -30]
  }
  {
    "x": [1.2]
    "y": [-31]
    "error_x": {"value": 0.5, "type": "constant", "color": "blue"}
    "error_y": {"value": 5, "type": "constant",  "color": "blue"}
  }
  {
    "x": [5.5, 5.8, 6.4]
    "y": [-15, -23, -22]
  }
  {
    "x": [5.9]
    "y": [-19]
    "error_x": {"value": 0.5, "type": "constant", "color": "red"}
    "error_y": {"value": 5, "type": "constant", "color": "red"}
  }
]
