<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Seamless + buefy example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

</head>

<body>
    <div id="app">
            <section>

        <b-collapse class="card" animation="slide" aria-id="id-6312">
            <div
                slot="trigger"
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="id-6312">
                <p class="card-header-title">
                    Cell A
                </p>
                <a class="card-header-icon">
                    <b-icon
                        :icon="props.open ? 'menu-down' : 'menu-up'">
                    </b-icon>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <b-field grouped>
                        <b-input v-bind:value="a" v-model="a" type="number"></b-input>
                    </b-field>
                    <b-field>
                        <b-slider v-bind:value="a" v-model="a" :min="0" :max="100" lazy></b-slider>
                    </b-field>
                </div>
            </div>
        </b-collapse>

    </section>
    <section>

        <b-collapse class="card" animation="slide" aria-id="id-9559">
            <div
                slot="trigger"
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="id-9559">
                <p class="card-header-title">
                    Cell B
                </p>
                <a class="card-header-icon">
                    <b-icon
                        :icon="props.open ? 'menu-down' : 'menu-up'">
                    </b-icon>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    <b-field grouped>
                        <b-input v-bind:value="b" v-model="b" type="number"></b-input>
                    </b-field>
                    <b-field>
                        <b-slider v-bind:value="b" v-model="b" :min="0" :max="100" lazy></b-slider>
                    </b-field>
                </div>
            </div>
        </b-collapse>

    </section>
    <b-field label="Cell C">
      <b-numberinput v-bind:value="c" v-model="c" :editable="false"></b-numberinput>
    </b-field>

    </div>

    <script src='https://unpkg.com/vue/dist/vue.min.js'></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script type="text/javascript" src="./seamless-client.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>
