{
  "arrays": [
    "vertexdata"
  ]
  "textures": [
    "s_texture"
  ],
  "uniforms": {
    "u_time": "float",
  }
  "render": {
    "attributes": {
      "value": {
        "dtype": "vec3"
        "array": "vertexdata"
      }
    }
    "glstate": {
      "clear_color": "black",
      "vertex_program_point_size": true,
      "depth_test": false
      "blend": true
      "blend_func": [
        "src_alpha",
        "one"
      ],
      "point_sprite": true,
    }
    "command": "points"
  }
}
