{
  "arrays": [
    "vertexdata"
  ]
  "textures": [
    "s_texture"
  ],
  "uniforms": {
    "u_centerPosition": "vec3",
    "u_time": "float",
    "u_color": "vec4",
    "u_gravity": "float",
    "u_pointsize": "float",
  },
  "render": {
    "glstate": {
      "clear_color": "black",
      "vertex_program_point_size": true,
      "depth_test": false
      "blend": true
      "blend_func": [
        "src_alpha",
        "one"
      ],
      "point_sprite": true,
    }
    "command": "points"
  }
}
