[
  {
    "y": [
      -19.162,
      -20.456,
      -20.446,
      -19.245,
      -19.159,
      -19.158,
      -18.27
    ],
    "x": [
      14.307,
      13.021,
      13.032,
      13.681,
      14.308,
      14.306,
      14.087
    ]
  },
  {
    "y": [
      -19.413714285714285
    ],
    "error_y": {
      "color": "green",
      "value": 0.7252732912073737,
      "type": "constant"
    },
    "error_x": {
      "color": "green",
      "value": 0.542673728413495,
      "type": "constant"
    },
    "x": [
      13.820285714285713
    ]
  },
  {
    "y": [
      -33.194,
      -33.055,
      -32.887,
      -20.527
    ],
    "x": [
      1.319,
      1.167,
      1.119,
      3.166
    ]
  },
  {
    "y": [
      -29.91575
    ],
    "error_y": {
      "color": "blue",
      "value": 5.421687162452293,
      "type": "constant"
    },
    "error_x": {
      "color": "blue",
      "value": 0.853779355278634,
      "type": "constant"
    },
    "x": [
      1.6927499999999998
    ]
  },
  {
    "y": [
      -23.696,
      -21.258,
      -21.256,
      -18.218
    ],
    "x": [
      10.208,
      10.974,
      10.974,
      10.303
    ]
  },
  {
    "y": [
      -21.107000000000003
    ],
    "error_y": {
      "color": "cyan",
      "value": 1.9425655716088457,
      "type": "constant"
    },
    "error_x": {
      "color": "cyan",
      "value": 0.3608166951514299,
      "type": "constant"
    },
    "x": [
      10.61475
    ]
  },
  {
    "y": [
      -23.319,
      -22.32,
      -21.16,
      -19.412
    ],
    "x": [
      12.989,
      12.893,
      13.374,
      13.517
    ]
  },
  {
    "y": [
      -21.552749999999996
    ],
    "error_y": {
      "color": "red",
      "value": 1.4530463473337663,
      "type": "constant"
    },
    "error_x": {
      "color": "red",
      "value": 0.2594960259811309,
      "type": "constant"
    },
    "x": [
      13.193249999999999
    ]
  },
  {
    "y": [
      -21.116,
      -21.109,
      -18.365,
      -18.361
    ],
    "x": [
      11.617,
      11.615,
      8.539,
      8.542
    ]
  },
  {
    "y": [
      -19.737750000000002
    ],
    "error_y": {
      "color": "pink",
      "value": 1.374752955079567,
      "type": "constant"
    },
    "error_x": {
      "color": "pink",
      "value": 1.5377505283692805,
      "type": "constant"
    },
    "x": [
      10.07825
    ]
  },
  {
    "y": [
      -21.042,
      -18.935,
      -18.412
    ],
    "x": [
      11.784,
      12.189,
      12.195
    ]
  },
  {
    "y": [
      -19.463
    ],
    "error_y": {
      "color": "magenta",
      "value": 1.1367535646157745,
      "type": "constant"
    },
    "error_x": {
      "color": "magenta",
      "value": 0.19234864179400876,
      "type": "constant"
    },
    "x": [
      12.056
    ]
  },
  {
    "y": [
      -20.948,
      -19.247,
      -18.751
    ],
    "x": [
      10.373,
      8.599,
      10.251
    ]
  },
  {
    "y": [
      -19.648666666666667
    ],
    "error_y": {
      "color": "black",
      "value": 0.9408167846197376,
      "type": "constant"
    },
    "error_x": {
      "color": "black",
      "value": 0.8090504722615679,
      "type": "constant"
    },
    "x": [
      9.741
    ]
  },
  {
    "y": [
      -20.438,
      -20.17,
      -18.355
    ],
    "x": [
      23.272,
      23.235,
      23.288
    ]
  },
  {
    "y": [
      -19.654333333333337
    ],
    "error_y": {
      "color": "grey",
      "value": 0.9252590027782609,
      "type": "constant"
    },
    "error_x": {
      "color": "grey",
      "value": 0.022196095752782172,
      "type": "constant"
    },
    "x": [
      23.265
    ]
  },
  {
    "y": [
      -20.049,
      -18.766,
      -18.308
    ],
    "x": [
      19.792,
      18.227,
      18.989
    ]
  },
  {
    "y": [
      -19.041
    ],
    "error_y": {
      "color": "sandybrown",
      "value": 0.7368803611622899,
      "type": "constant"
    },
    "error_x": {
      "color": "sandybrown",
      "value": 0.6389816551009553,
      "type": "constant"
    },
    "x": [
      19.00266666666667
    ]
  },
  {
    "y": [
      -19.995,
      -18.355,
      -18.343
    ],
    "x": [
      5.377,
      4.874,
      4.874
    ]
  },
  {
    "y": [
      -18.897666666666666
    ],
    "error_y": {
      "color": "plum",
      "value": 0.7759473063438153,
      "type": "constant"
    },
    "error_x": {
      "color": "plum",
      "value": 0.237116473957889,
      "type": "constant"
    },
    "x": [
      5.041666666666667
    ]
  },
  {
    "y": [
      -19.971,
      -18.741,
      -18.171
    ],
    "x": [
      11.933,
      11.986,
      11.836
    ]
  },
  {
    "y": [
      -18.961000000000002
    ],
    "error_y": {
      "color": "turquoise",
      "value": 0.7511324783285572,
      "type": "constant"
    },
    "error_x": {
      "color": "turquoise",
      "value": 0.06210922278982057,
      "type": "constant"
    },
    "x": [
      11.918333333333335
    ]
  },
  {
    "y": [
      -19.743,
      -18.907,
      -18.377
    ],
    "x": [
      13.927,
      12.329,
      14.627
    ]
  },
  {
    "y": [
      -19.009
    ],
    "error_y": {
      "color": "olivedrab",
      "value": 0.5623118944737577,
      "type": "constant"
    },
    "error_x": {
      "color": "olivedrab",
      "value": 0.9617350062372805,
      "type": "constant"
    },
    "x": [
      13.627666666666668
    ]
  },
  {
    "y": [
      -18.732,
      -18.648,
      -18.298
    ],
    "x": [
      18.308,
      19.411,
      18.396
    ]
  },
  {
    "y": [
      -18.55933333333333
    ],
    "error_y": {
      "color": "lightsteelblue",
      "value": 0.18794561861228837,
      "type": "constant"
    },
    "error_x": {
      "color": "lightsteelblue",
      "value": 0.5005084081877818,
      "type": "constant"
    },
    "x": [
      18.705000000000002
    ]
  },
  {
    "y": [
      -18.666,
      -21.037,
      -18.134
    ],
    "x": [
      13.34,
      13.574,
      12.101
    ]
  },
  {
    "y": [
      -19.279
    ],
    "error_y": {
      "color": "orchid",
      "value": 1.2619241921235465,
      "type": "constant"
    },
    "error_x": {
      "color": "orchid",
      "value": 0.6463234484373899,
      "type": "constant"
    },
    "x": [
      13.005
    ]
  }
]
