<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Seamless webform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
    
</head>

<body>
    
    <div id="app">
        <v-app id="vuetify-app">
            <section>

                <b-collapse class="card" animation="slide" aria-id="id-6312">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="id-6312">
                        <p class="card-header-title">
                            Cell Opts
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content" style="overflow: auto; height: 400px;">
                            <pre>{{ opts.value }}</pre>
                        </div>
                    </div>
                </b-collapse>

            </section>
            <b-field label="Cell Sel">
                <b-input
                    v-bind:value="sel.value"
                    v-model="sel.value"
                    :editable="true"
                />
            </b-field>
            <b-field label="Cell Inps">
                <b-input
                    v-bind:value="inps.value"
                    v-model="inps.value"
                    :editable="true"
                />
            </b-field>
<section>
    <p class="content"><b>Selected:</b> </p>
    <b-field label="BLAH1">
        <b-autocomplete
            rounded
            v-model="inps.value"
            :data="inps.value ? opts.value.filter(option => option.toString().toLowerCase().indexOf(inps.value.toString().toLowerCase()) == 0) : opts.value"
            placeholder="BLAH2"
            icon="magnify"
            clearable
            @select="option => {if (option) { sel.value = option; inps.value = option } }">
            <template #empty>No results found</template>
        </b-autocomplete>
    </b-field>
</section>

        </v-app>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.js'></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script type="text/javascript" src="./seamless-client.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>
