<script>
{% for var in vars %}
    var {{var}} = null;
{% endfor %}
    var ws = new WebSocket("ws://127.0.0.1:{% raw %}{{socket}}{% endraw %}/");
    ws.onopen = function () {
        ws.send("{% raw %}{{IDENTIFIER}}{% endraw %}");
    }
    ws.onmessage = function (event) {
        var message = JSON.parse(event.data);
        if (message.type == "var") {
          if (0) {}
          {% for var in vars %}
          else if (message.var == "{{var}}") {
            {{var}} = message.value;
          }
          {% endfor %}
        }
        else if (message.type == "html") {
          var ele = document.getElementById(message.id);
          ele.innerHTML = message.value;
        }
        else if (message.type == "eval") {
          eval(message.value);
        }
    };
</script>
