{
  "arrays": [
    "coordinates", "edges"
  ],
  "uniforms": {
    "u_mvp_matrix": "mat4",
    "u_modelview_matrix": "mat4",
  },
  "render": {
    "command": "lines",
    "attributes": {
      "a_position": {
        "dtype": "vec3",
        "array": "coordinates"
      }
    }
    "glstate": {
      "clear": true,
      "depth_test": true
      "clear_color": "black",
      "blend": true,
      "multisample": true
      "line_width": 1,
    }
    "indices": {
      "array": "edges",
      "dtype": "short"
    }
  },
}
