filename:
  pin: "input"
  dtype: "str"

coordinates:
  pin: "output"
  dtype: "array"

normals:
  pin: "output"
  dtype: "array"

edges:
  pin: "output"
  dtype: "array"

triangle_indices:
  pin: "output"
  dtype: "array"

triangle_coordinates:
  pin: "output"
  dtype: "array"

triangle_normals:
  pin: "output"
  dtype: "array"
