<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket demo 2</title>
    </head>
    <body>
        <script>
            var ws = new WebSocket("ws://127.0.0.1:{{socket}}/"),
                messages = document.createElement('ul');
            ws.onopen = function () {
                ws.send("{{IDENTIFIER}}");
            }
            ws.onmessage = function (event) {
                var messages = document.getElementsByTagName('ul')[0],
                    message = document.createElement('li'),
                    content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
            };
            document.body.appendChild(messages);
        </script>
    </body>
</html>
