<section>
    <p class="content"><b>Selected:</b> {{ selected }}</p>
    <b-field label="BLAH1">
        <b-autocomplete
            rounded
            v-model="{{CELLS.input}}.value"
            :data="{{CELLS.input}}.value ? {{CELLS.options}}.value.filter(option => option.toString().toLowerCase().indexOf({{CELLS.input}}.value.toString().toLowerCase()) == 0) : {{CELLS.options}}.value"
            placeholder="BLAH2"
            icon="magnify"
            clearable
            @select="option => {if (option) { {{CELLS.selected}}.value = option; {{CELLS.input}}.value = option } }">
            <template #empty>No results found</template>
        </b-autocomplete>
    </b-field>
</section>