[
  { #midfin
    x: 0.44
    xwidth: 0.06
    xstep: 0.01
    ycenter: 0.7
    distance: 0.1
    xradius: 0.015
    yradius: 0.25
    rotations: [0]
  },
  { #side fins
    x: 0.20
    ycenter: 0.7
    distance: 0.05
    xradius: 0.02
    yradius: 0.14
    rotations: [120, 240]
  },
  { #tail fins
    x: 0.91
    ycenter: 0.90
    distance: 0.0
    xradius: 0.035
    yradius: 0.15
    rotations: [145, 215]
  },
]
