{
  "templates": [
    "body",
    "head",
    "head_body"
  ],
  "result": "head_body",
  "environment": {
    "height": "int",
    "config": "json",
    "plotly_data": "json",
    "divname": "str",
    "width": "int",
    "title": "text",
    "layout": "json"
  }
}