            <section>

                <b-collapse class="card" animation="slide" aria-id="{{ID1}}">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="{{ID1}}">
                        <p class="card-header-title">
                            {{title}}
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content" style="overflow: auto; height: 400px;">
                            <pre>{{ '{{' }} {{CELL}}.value {{ '}}' }}</pre>
                        </div>
                    </div>
                </b-collapse>

            </section>
