{
  "arrays": [
    "coordinates",
    "normals",
    "texture_coords",
    "tangents"
  ],
  "uniforms": {
    "u_normal_matrix": "mat3",
    "u_mvp_matrix": "mat4",
    "u_modelview_matrix": "mat4"
  },
  "textures": [
    "s_texture", "s_normal_map"
  ]
  "render": {
    "attributes": {
      "a_position": {
        "array": "coordinates",
        "dtype": "vec3"
      },
      "a_normal": {
        "array": "normals",
        "dtype": "vec3"
      },
      "a_uv": {
        "array": "texture_coords",
        "dtype": "vec2"
      }
      "a_tangent": {
        "dtype": "vec3",
        "array": "tangents"
        "rae": "[:,0]"
      }
      "a_bitangent": {
        "dtype": "vec3",
        "array": "tangents"
        "rae": "[:,1]"
      }
    },
    "glstate": {
      "clear": false,
      "blend": true,
      "cull_face": true,
      "depth_test": true,
      "clear_color": "black"
    },
    "command": "triangles"
  }
}
