# Defaults for various compilers
# NOTE: Seamless does not take (the checksum of) a compiler or compiler setting as explicit dependency
# Therefore, Seamless does not re-execute a computation when compiler settings change
# and it is assumed that compiler settings have no impact on reproducibility,
#  i.e. a computation is reproducible or irreproducible no matter the compiler settings
{
  #GNU compiler collection; no "location"; use `which` or implicit shell execution
  "gcc": {
      "mode": "object",   # compiles source files into .o files one by one
                          # alternatives:  
                          # - "archive", that compiles each source file into an .a file
                          # - "package", that compiles *all* source files into a single .a file
      "compile_flag": "-c"
      "output_flag": "-o"
      "options": ["-O3", "-ffast-math", "-march=native", "-fPIC", "-fopenmp"],
      "public_options": ["-fPIC"],
      "debug_options": ["-fPIC", "-g", "-O0", "-fno-inline" , "-Wall"],
      "profile_options": ["-p", "-g"],
  }
  "g++": {
      "mode": "object",   
      "compile_flag": "-c"
      "output_flag": "-o"
      "options": ["-O3", "-ffast-math", "-march=native", "-fPIC", "-fopenmp"],
      "public_options": ["-fPIC"],
      "debug_options": ["-fPIC", "-g", "-O0", "-fno-inline" , "-Wall"],
      "profile_options": ["-p", "-g"],
  }
  "gfortran": {
      "mode": "object",  
      "compile_flag": "-c"
      "output_flag": "-o"
      "options": ["-O3", "-fno-automatic", "-fcray-pointer", "-ffast-math", "-march=native", "-fPIC"],
      "public_options": ["-fPIC"],
      "debug_options": ["-fPIC", "-O0", "-fno-automatic", "-fcray-pointer"],
      "profile_options": ["-p", "-g"],
  }
}
