# Specifications and default settings for supported languages
{
  "python": {
    "extension": "py",
    "mode": "interpreted"
  }
  "ipython": {
    "extension": "ipy",
    "mode": "interpreted"
  }
  "c": {
    "extension": "c"
    "mode": "compiled"
    "compiler": "gcc"
  }
  "c++": {
    "extension": "cpp"
    "mode": "compiled"
    "compiler": "g++"
  }
  "fortran": {
    "extension": ["f", "f90"]
    "mode": "compiled"
    "compiler": "gfortran"
  }
  "bash": {
    "extension": "sh",
    "mode": "interpreted"
  }
  "r": {
    "extension": "R",
    "mode": "interpreted"
  }
}
