<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Seamless webform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
    
</head>

<body>
    
    <div id="app">
        <v-app id="vuetify-app">
            <section>
                <b-collapse class="card" animation="slide" aria-id="id-6312">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="id-6312">
                        <p class="card-header-title">
                            Lower limit of the plot
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <b-field grouped>
                                <b-input :value="limit.value" v-model.number="limit.value" type="number"></b-input>
                            </b-field>
                            <b-field>
                                <b-slider :value="limit.value" v-model="limit.value" :min="0" :max="100" lazy></b-slider>
                            </b-field>
                        </div>
                    </div>
                </b-collapse>

            </section>
            <b-field label="Marker and line for drawing the plot">
                <b-input
                    v-bind:value="markerline.value"
                    v-model="markerline.value"
                    :editable="true"
                />
            </b-field>
            <section>
                <b-collapse class="card" animation="slide" aria-id="id-2408">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="id-2408">
                        <p class="card-header-title">
                            Value where the plot is mirrored
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <b-field grouped>
                                <b-input :value="mirror.value" v-model.number="mirror.value" type="number"></b-input>
                            </b-field>
                            <b-field>
                                <b-slider :value="mirror.value" v-model="mirror.value" :min="0" :max="100" lazy></b-slider>
                            </b-field>
                        </div>
                    </div>
                </b-collapse>

            </section>
            <section>
                <b-collapse class="card" animation="slide" aria-id="id-5181">
                    <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="id-5181">
                        <p class="card-header-title">
                            Period of the wave
                        </p>
                        <a class="card-header-icon">
                            <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <b-field grouped>
                                <b-input :value="period.value" v-model.number="period.value" type="number"></b-input>
                            </b-field>
                            <b-field>
                                <b-slider :value="period.value" v-model="period.value" :min="0" :max="100" lazy></b-slider>
                            </b-field>
                        </div>
                    </div>
                </b-collapse>

            </section>
            <b-field label="Plot">                
                <img :src="png.value ? METHOD_get_app_globals().createObjectURL(png.value) : ''" width= height=></img>
            </b-field>
        <section v-if="STATUS.value.transformers">
            <b-field label="Transformer filter_plot">>                 
            <b-icon
                v-if="STATUS.value.transformers.filter_plot.color == 'royalblue'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-info">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.filter_plot.color == 'forestgreen'"
                pack="fas"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-success">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.filter_plot.color == 'yellow'"
                pack="fa"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-warning">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.filter_plot.color == 'orange'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.filter_plot.color == 'red'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            </b-field>
            <b-collapse class="card" :open="false" animation="slide" aria-id="id-3633">
                <div
                    v-if="STATUS.value.transformers.filter_plot.status"
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="id-3633">
                    <p class="card-header-title">
                        Error message
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content" v-if="STATUS.value.transformers.filter_plot.status">
                    <div class="content" style="overflow: auto; height: 400px;">
                        <pre>{{ STATUS.value.transformers.filter_plot.status }}</pre>
                    </div>
                </div>
            </b-collapse>

        </section>
        <section v-if="STATUS.value.transformers">
            <b-field label="Transformer gen_wave">>                 
            <b-icon
                v-if="STATUS.value.transformers.gen_wave.color == 'royalblue'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-info">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.gen_wave.color == 'forestgreen'"
                pack="fas"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-success">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.gen_wave.color == 'yellow'"
                pack="fa"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-warning">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.gen_wave.color == 'orange'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.gen_wave.color == 'red'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            </b-field>
            <b-collapse class="card" :open="false" animation="slide" aria-id="id-1787">
                <div
                    v-if="STATUS.value.transformers.gen_wave.status"
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="id-1787">
                    <p class="card-header-title">
                        Error message
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content" v-if="STATUS.value.transformers.gen_wave.status">
                    <div class="content" style="overflow: auto; height: 400px;">
                        <pre>{{ STATUS.value.transformers.gen_wave.status }}</pre>
                    </div>
                </div>
            </b-collapse>

        </section>
        <section v-if="STATUS.value.transformers">
            <b-field label="Transformer plot2png">>                 
            <b-icon
                v-if="STATUS.value.transformers.plot2png.color == 'royalblue'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-info">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2png.color == 'forestgreen'"
                pack="fas"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-success">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2png.color == 'yellow'"
                pack="fa"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-warning">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2png.color == 'orange'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2png.color == 'red'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            </b-field>
            <b-collapse class="card" :open="false" animation="slide" aria-id="id-8966">
                <div
                    v-if="STATUS.value.transformers.plot2png.status"
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="id-8966">
                    <p class="card-header-title">
                        Error message
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content" v-if="STATUS.value.transformers.plot2png.status">
                    <div class="content" style="overflow: auto; height: 400px;">
                        <pre>{{ STATUS.value.transformers.plot2png.status }}</pre>
                    </div>
                </div>
            </b-collapse>

        </section>
        <section v-if="STATUS.value.transformers">
            <b-field label="Transformer plot2txt">>                 
            <b-icon
                v-if="STATUS.value.transformers.plot2txt.color == 'royalblue'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-info">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2txt.color == 'forestgreen'"
                pack="fas"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-success">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2txt.color == 'yellow'"
                pack="fa"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-warning">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2txt.color == 'orange'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.plot2txt.color == 'red'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            </b-field>
            <b-collapse class="card" :open="false" animation="slide" aria-id="id-4757">
                <div
                    v-if="STATUS.value.transformers.plot2txt.status"
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="id-4757">
                    <p class="card-header-title">
                        Error message
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content" v-if="STATUS.value.transformers.plot2txt.status">
                    <div class="content" style="overflow: auto; height: 400px;">
                        <pre>{{ STATUS.value.transformers.plot2txt.status }}</pre>
                    </div>
                </div>
            </b-collapse>

        </section>
        <section v-if="STATUS.value.transformers">
            <b-field label="Transformer txt2plot">>                 
            <b-icon
                v-if="STATUS.value.transformers.txt2plot.color == 'royalblue'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-info">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.txt2plot.color == 'forestgreen'"
                pack="fas"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-success">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.txt2plot.color == 'yellow'"
                pack="fa"
                icon="sync-alt"
                size="is-large"
                custom-class="fa-spin"
                type="is-warning">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.txt2plot.color == 'orange'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            <b-icon
                v-if="STATUS.value.transformers.txt2plot.color == 'red'"
                pack="fa"
                icon="circle"
                size="is-large"
                type="is-danger">
            </b-icon>
            </b-field>
            <b-collapse class="card" :open="false" animation="slide" aria-id="id-2451">
                <div
                    v-if="STATUS.value.transformers.txt2plot.status"
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="id-2451">
                    <p class="card-header-title">
                        Error message
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content" v-if="STATUS.value.transformers.txt2plot.status">
                    <div class="content" style="overflow: auto; height: 400px;">
                        <pre>{{ STATUS.value.transformers.txt2plot.status }}</pre>
                    </div>
                </div>
            </b-collapse>

        </section>

        </v-app>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.3.20/dist/vuetify.min.js'></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script type="text/javascript" src="./seamless-client.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>
